@charset "UTF-8";
@import "../../assets/sass/partial/custom";
@import "../../assets/sass/partial/flex";

.avatar_wrap{
    position: relative;
    @include flexCenter;
    @include wh(80px,80px,false);
    img{
      border-radius:100%;
      width:100%;
      height:100%;
      border: 1Px solid #1e9af2;
    }
    i{
      position: absolute;
      right:0;
      bottom:0;
      z-index:2;
    }
}
